// Color
color-background = #FFF
color-font = #000
color-link = #F4F3EF

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

// Width
page-width = 1200px

// Header
banner-height = 350px
banner-url = "images/banner.jpg"
