.banner
  top: 0
  left: 0
  width: 100%
  height: banner-height
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/banner.jpg)
  background-size: cover
  background-position: bottom
  z-index: -1
  filter: grayscale(50%)
  display: flex
  align-items: center


h1
  font-size: 64px
  text-align: center
  color white
  text-shadow: 0.5px 0.5px 3px black;

